<ul class="nav bg-secondary">

  <li class="nav-item p-3 text-center">
    Dashboard
  </li>

</ul>

<div class="p-3">

  <p>
    Filtros:
    <button type="button" class="btn btn-outline-secondary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <i class="fas fa-filter"></i>
    </button>
  </p>

  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">

    <div class="card">

      <div class="card-body">
        <div class="row g-3">
          <div class="col">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
        </div>
      </div>

      <div class="card-footer text-end">
        <button type="button" class="btn btn-secondary">Filtrar</button>
      </div>

    </div>

  </div>

</div>
<p>dashboard works!</p>
