<!-- <div class="d-flex flex-column flex-shrink-0 h-100 text-white bg-dark" style="width: 4.5rem;"> -->
<div class="d-flex flex-column flex-shrink-0 h-100 text-white bg-dark">
  <a class="d-block py-3 link-dark text-center text-decoration-none bg-primary" style="background-color: #25ae67;">
    <img src="https://app.followize.com.br/assets/img/icon.png" alt="Followize" style="max-height: 38px;">
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item text-center" [routerLink]="['/dashboard']">
      <a class="nav-link py-3 border-bottom rounded-0" [routerLinkActive]="['active']">
        <i class="fas fa-tachometer-alt"></i>
      </a>
    </li>
    <li class="nav-item text-center" [routerLink]="'/lead'">
      <a class="nav-link py-3 border-bottom rounded-0" [routerLinkActive]="['active']">
        <i class="fas fa-user"></i>
      </a>
    </li>
    <li class="nav-item text-center" [routerLink]="'/relatorio'">
      <a class="nav-link py-3 border-bottom rounded-0" [routerLinkActive]="['active']">
        <i class="fas fa-chart-bar"></i>
      </a>
    </li>
    <li class="nav-item text-center" [routerLink]="'/usuario'">
      <a class="nav-link py-3 border-bottom rounded-0" [routerLinkActive]="['active']">
        <i class="fas fa-cog"></i>
      </a>
    </li>
    <li class="nav-item text-center" [routerLink]="'/lixeira'">
      <a class="nav-link py-3 border-bottom rounded-0" [routerLinkActive]="['active']">
        <i class="fas fa-trash-alt"></i>
      </a>
    </li>
    <!-- <li class="nav-item text-center">
      <a class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none">
        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </a>
    </li> -->
  </ul>
</div>
