<!-- <ul class="nav flex-column text-white-50 bg-dark"> -->
  <li class="nav-item text-center p-3" style="background-color: #25ae67;">
    <img src="https://app.followize.com.br/assets/img/icon.png" alt="Followize" style="max-height: 38px;">
  </li>
  <li class="nav-item text-center p-3" placement="right" [ngbPopover]="popDashboard" triggers="mouseenter:mouseleave" [routerLink]="['/dashboard']">
    <i class="fas fa-tachometer-alt fa-2x"></i>
  </li>
  <li class="nav-item text-center p-3" placement="right" [ngbPopover]="popLead" triggers="mouseenter:mouseleave" [routerLink]="'.'">
    <i class="fas fa-user fa-2x"></i>
  </li>
  <li class="nav-item text-center p-3" placement="right" [ngbPopover]="popReport" triggers="mouseenter:mouseleave" [routerLink]="'.'">
    <i class="fas fa-chart-bar fa-2x"></i>
  </li>
  <li class="nav-item text-center p-3" placement="right" [ngbPopover]="popConfig" triggers="mouseenter:mouseleave" [routerLink]="'/user'">
    <i class="fas fa-cog fa-2x"></i>
  </li>
  <li class="nav-item text-center p-3" placement="right" [ngbPopover]="popTrash" triggers="mouseenter:mouseleave" [routerLink]="'.'">
    <i class="fas fa-trash-alt fa-2x"></i>
  </li>
<!-- </ul> -->

<ng-template #popDashboard>Dashboard</ng-template>
<ng-template #popLead>Leads</ng-template>
<ng-template #popReport>Relatorios</ng-template>
<ng-template #popConfig>Configuração</ng-template>
<ng-template #popTrash>Lixeira</ng-template>
